*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Poppins', sans-serif;
}

a{
    text-decoration: none;
    color: black;
}

ul {
    list-style: none;
    padding: 0;
}

/* COMIENZO PAGINA INICIO */
.pagina{
    width: 100%;
    display: grid;
    grid-template-columns: 100%;
    grid-template-areas: 
        "header"
        "main"
        "footer";
}

.header{
    grid-area: header;
    width: 100%;
    height: 100px;
    background-color: rgb(255, 255, 255);
    position: fixed;
    z-index: 10;
    box-shadow: 0px 2px 10px #49474A;
    top: 0;
    padding: 15px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.header ul{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    gap: 2rem;
    font-size: 16px;
}

.header i{
    display: none;
}

.cruz{
    display: none;
}

.main{
    grid-area: main;
    padding-top: 4rem;
}

.videoInicio{
    width: 100%;
}

.slogan{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 8rem 0;
}

.main .slogan div {
    margin-bottom: 3rem;
}

.slogan p{
    font-size: 17px;
    line-height: 2rem;
    color: black;
    text-align: center;
    width: 60%
}

.slogan a{
    margin-top: 4rem;
    background-color: #49474A;
    color: white;
    padding: 15px;
    border-radius: 5px; 
}

.introduccion {
    background-color: #000000;
    color: #8B857E;
    text-align: center;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.introduccion img{
    width: 30%;
}

.introduccion div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    padding: 6rem 2rem;
    font-size: 18px;
}

.caracteristicas{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, auto);
    gap: 10px;
    padding: 0 10px;
}

.caracteristicas div{
    grid-column: 1/4;
    text-align: center;
    margin: 8rem 0;
}

.caracteristicas h2{
    display: inline;
    border-bottom: 2px solid #807878;
    font-size: 35px;
    color: #8B857E;
    font-family: 'Oswald', sans-serif;
    font-weight: 400;
}
.caracteristicas .ref img{
    width: 100%;
    height: 300px;
    object-fit: cover;
}

.caracteristicas .ref{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.caracteristicas h3{
    color: #8B857E;
    padding-top: 2rem;
    text-align: center;
}

.caracteristicas p{
    text-align: center;
    padding: 0 2rem;
}

.boton{
    margin: 6rem 0 8rem;
    text-align: center;
}

.boton a{
    background-color: #49474A;
    color: white;
    padding: 15px;
    border-radius: 5px;
}

.seccionFinal{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    background-color: black;
    text-align: center;
    padding: 5rem 0;
    column-gap: 3rem;
    justify-content: center;
    align-items: center;
}

.seccionFinal__subtitulo{
    grid-column: 1/3;
    text-align: center;
    padding-bottom: 1rem;
}

.seccionFinal .seccionFinal__subtitulo a{
    display: inline;
    font-family: 'Oswald', sans-serif;
    font-weight: 400;
    font-size: 40px;
    color: #ffffff;
    border-bottom: 2px solid #ffffff;
}

.seccionFinal p{
    color: #8B857E;
    margin: 3rem 0 1rem;
    font-size: 23px;
    font-weight: 600;
}

.seccionFinal a{
    color: #ffffff;
    font-size: 50px;
}

.logos{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 2rem;
}

.footer{
    grid-area: footer;
    display: flex;
    flex-direction: row;
    background-color: white;
    justify-content: space-between;
    width: 100%;
    padding: 10px 100px;
    align-items: center;
    font-size: 13px;
}

.footer img{
    height: 60px; 
}

.whatsapp{
    position: fixed; 
    z-index: 11;
    bottom: 10px;
    right: 10px;
    font-size: 50px;
    color: #49474A;
    padding: 10px;
    border-radius: 5px;
    display: inline-block;
}
/* FIN DE PAGINA INICIO */
/* COMIENZO CONTACTOS */

.titulo{
    margin: 8rem 0 6rem; 
    text-align: center;
}

.main h1{
    font-family: 'Oswald', sans-serif;
    font-size: 40px;
    color: #8B857E;
    border-bottom: 2px solid #8B857E;
    font-weight: 600;
    display: inline;
}

.contactoContenido{
    display: grid;
    grid-template-columns: repeat(2, 50%);
    justify-content: center;
    background-color: black;
    padding: 4rem;
}

.contactoContenido form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 80%;
}

.contactoContenido form h2{
    font-size: 25px;
    text-align: center;
    color: #8B857E;
    margin-bottom: 3rem;
}

.contactoContenido label{
    font-weight: 400;
    font-size: 18px;
    text-align: center;
    color: white;
}
.contactoContenido form input{
    background-color: #D8D1C9;
    width: 100%;
    height: 30px;
    border-radius: 5px;
    border: none;
    margin-bottom: 30px;
}

.contactoContenido form div{
    width: 100%;
    text-align: center;
}

.contactoContenido textarea{
    background-color: #D8D1C9;
    width: 100%;
    height: 200px;
    border-radius: 5px;
    border: none;
    margin-bottom: 1rem;
}

.contactoContenido .enviar{
    background-color: #D8D1C9;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    width: 100px;
    height: 30px;
    font-size: 16px;
    border-radius: 5px;
    border: none;
}

.masContactos h2{
    font-size: 25px;
    color: #8B857E;
}

.masContactos p{
    line-height: 2rem;
    margin-bottom: 3rem;
    color: white;
    font-size: 18px;
}

.masContactos{
    width: 80%;
    padding-left: 60px;
}
.masContactos span{
    font-size: 22px;
    color: #8b857e;
}
.masContactos a{
    font-size: 22px;
    color: #8b857e;
}
/* FIN CONTACTOS */
/* COMIENZO PREGUNTAS FRECUENTES */

.preguntas{
    display: grid;
    grid-template-columns: 2fr 1fr;
}
.preguntas img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.preguntas div{
    background-color: black;
    padding: 3rem; 
    line-height: 2.5rem;
}

.preguntas dt{
    font-size: 23px;
    font-weight: 400;
    color: #8b857e;
    font-family: 'Oswald', sans-serif;
}

.preguntas dd{
    font-size: 18px;
    margin-bottom: 2rem;
    text-align: justify;
    color: white;
}
.masPreguntas{
    text-align: center;
    font-size: 30px;
    color: #8B857E;
    font-weight: 400;
    margin: 5rem 0 8rem;
    font-family: 'Oswald', sans-serif;
}

.masPreguntas span{
    color: #8B857E;
    font-weight: 700;
    font-family: 'Oswald', sans-serif;
}
/* FIN PREGUNTAS FRECUENTES */
/* INICIO TRABAJOS REALIZADOS */

.galeria__fotos{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-content: space-evenly;
    text-align: center;
    font-size: 20px;
    padding: 0 2rem;
    gap: 10px;
    margin-bottom: 4rem;
}

.galeria__fotos div{
    background-color: #000000;
    padding: 15px;
    border-radius: 5px;
    box-shadow: 2px 0px 10px #49474A;
    color: white;
    font-size: 18px;
}

.galeria__fotos img{
    width: 100%;
}

/* FIN TRABAJOS REALIZADOS */
/* INICIO PRODUCTO */

.grid{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 300px 500px 500px 500px 300px 500px 500px;
    grid-template-areas: 
        "ele1 ele1"
        "ele2 ele3"
        "ele4 ele5"
        "ele6 ele7"
        "ele8 ele8"
        "ele9 ele10"
        "ele11 ele12";  
    row-gap: 5rem;
    column-gap: 2rem;
    margin-bottom: 5rem;
}

.ele1{
    grid-area: ele1;
}
.ele2{
    grid-area: ele2;
}
.ele3{
    grid-area: ele3;
}
.ele4{
    grid-area: ele4;
}
.ele5{
    grid-area: ele5;
}
.ele6{
    grid-area: ele6;
}
.ele7{
    grid-area: ele7;
}
.ele8{
    grid-area: ele8;
}
.ele9{
    grid-area: ele9;
}
.ele10{
    grid-area: ele10;
}
.ele11{
    grid-area: ele11;
}
.ele12{
    grid-area: ele12;
}

.subtitulo{
    color: #8B857E;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center
}

.texto{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
    padding-right: 30%;
    text-align: justify;
    line-height: 2rem;
}

.grid img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: right;
    padding-left: 4rem;
    overflow: hidden;
}

.agrupadas{
    display: flex;
    flex-direction: row;
    gap: 15px;
}

.grid .img2{
    padding-left: 0;
    object-fit: cover;
    overflow: hidden;
    width: 50%;
    object-position: center;
}
/* FIN PRODUCTOS */

/* INICIO MEDIA QUERIES */

@media screen and (max-width: 825px) {
    .whatsapp{
        display: none;
    }

    /* HEADER */
    .header i{
        display: block;
        font-size: 30px;
        color: #8B857E;
        height: 100%;
        display: flex;
        align-items: center;
    }
    #barra{
        background-color: white;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 1000;
        height: 100vh;
        width: 80%;
        max-width: 350px;
        padding: 1rem;
        box-shadow: 0px 0px 10px #49474A;
        transform: translateX(-100%);
        transition: transform 0.5s;
    }
    .header ul{
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        font-size: 18px;
    }    
    #barra:target{
        transform: translateX(0);
    }
    .cruz{
        display: block;
        font-size: 25px;
        font-weight: 600;
    }

     /* HOME */
    .slogan{
        margin: 6rem 0;
    }
    .main h1{
        font-size: 35px;
    }
    .slogan p{
        font-size: 16px;
        width: 80%;
    }
    .introduccion{
        grid-template-columns: repeat(2, 1fr);
    }
    .introduccion div{
        border: 1px solid #8B857E;
        padding: 4rem 2rem;
    }
    .caracteristicas{
        grid-template-columns: 1fr;
        grid-template-rows: repeat(4, auto);
    }
    .caracteristicas h2{
        font-size: 30px;
    }
    .caracteristicas div{
        margin: 6rem 0;
        grid-column: 1/-1;
    }  
    .caracteristicas .ref{
        margin-bottom: 4rem;
    } 
    .caracteristicas h3{
        padding-top: 1.5rem;
    }
    .boton{
        margin: 2rem 0 8rem;
    }
    .seccionFinal{
        padding: 5rem 2rem;
    }
    .seccionFinal .seccionFinal__subtitulo a{
        font-size: 35px;
    }
    .seccionFinal a{
        padding: 0;
    }

    /* FOOTER */
    .footer{
        padding: 10px 20px;
        font-size: 11px;
    }

    /* CONTACTOS */
    .contactoContenido{
        grid-template-columns: 1fr;
        justify-items: center;
        gap: 3rem;
    }
    .masContactos{
        text-align: center;
        padding-left: 0;
    }

    /* PREGUNTAS FRECUENTES */
    .preguntas{
        grid-template-columns: 1fr;
    }
    .masPreguntas{
        margin: 5rem 0;
    }

    /* TRABAJOS REALIZADOS */
    .galeria__fotos{
        grid-template-columns: repeat(2, 1fr);
        padding: 0 1rem;
    }

    /* PRODUCTO */
    .grid{
        grid-template-columns: 1fr;
        grid-template-rows: 300px auto 400px auto 400px auto 400px 300px auto 400px auto 400px; 
        grid-template-areas:
        "ele1"
        "ele3"
        "ele2"
        "ele5" 
        "ele4" 
        "ele7"
        "ele6" 
        "ele8" 
        "ele10"
        "ele9" 
        "ele12"
        "ele11";
        gap: 1rem;
        margin-bottom: 3rem;
    }
    .texto{
        padding: 0 1rem;
        text-align: center;
        margin-top: 2rem;
    }
    .grid img{
        padding-left: 0;
    }
}

@media screen and (max-width: 425px) {

    /* HOME */
    .main{
        padding-top: 6rem;
    }
    .main h1{
        font-size: 30px;
    }
    .main .slogan div{
        text-align: center;
    }
    .slogan{
        margin: 3rem 0;
    }
    .slogan p{
        width: 85%;
        line-height: 1.5rem;
        text-align: justify;
    }
    .slogan a{
        margin: 3rem 0;
        text-align: center;
    }
    .introduccion{
        grid-template-columns: repeat(1, 1fr);
    }
    .caracteristicas{
        padding: 0;
    }
    .caracteristicas div{
        margin: 4rem 0;
    }
    .caracteristicas h2{
        font-size: 25px;
    }
    .caracteristicas h3{
        padding-top: 1rem;
        text-align: center;
    }
    .caracteristicas p{
        padding: 0 1rem;
        text-align: justify;
    }
    .caracteristicas .ref{
        margin-bottom: 3rem;
    }
    .seccionFinal{
        grid-template-columns: 1fr;
        padding: 3re 1rem;
    }
    .seccionFinal__subtitulo{
        grid-column: 1/-1;
    }
    .seccionFinal .seccionFinal__subtitulo a{
        font-size: 30px;
    }
    .footer{
        flex-direction: column-reverse;
        text-align: center;
    }
    .footer img{
        margin: 1rem 0;
    }

    /* CONTACTO */
    .titulo{
        margin: 6rem 0 6rem;
    }
    .contactoContenido{
        padding: 2rem 1rem;
    }
    .contactoContenido form{
        width: 100%;
    }

    /* PREGUNTAS FRECUENTES */
    .preguntas div{
        padding: 2rem;
        line-height: 2rem;
    }
    .preguntas dt{
        font-size: 20px;
    }
    .preguntas dd{
        font-size: 16px;
    }
    .masPreguntas{
        padding: 0 1rem;
        margin: 3rem 0;
    }

    /* TRABAJOS REALIZADOS */
    .galeria__fotos{
        grid-template-columns: 1fr;
        margin-bottom: 2rem;
    }

    /* PRODUCTO */
    .grid{
        margin-bottom: 2rem;
    }
    .grid .img2{
        width: 60%;    
    }
    .agrupadas{
        gap: 10px;
    }
    .texto p{
        text-align: justify;
    }

   

  

   





}