* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

body {
  font-family: 'Poppins', sans-serif; }

a {
  text-decoration: none;
  color: black; }

ul {
  list-style: none;
  padding: 0; }

.header {
  box-shadow: 0px 1px 10px #49474A; }

.whatsapp {
  position: fixed;
  z-index: 11;
  bottom: 10px;
  right: 10px;
  font-size: 50px;
  color: #49474A;
  padding: 10px;
  border-radius: 5px;
  display: inline-block; }

.titulo {
  margin: 11rem 0 6rem;
  text-align: center;
  font-family: 'Oswald', sans-serif;
  font-size: 40px;
  color: #8B857E;
  font-weight: 600; }

.texto-carrusel {
  display: flex;
  flex-direction: column; }

.slogan {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 8rem 0; }
  .slogan p {
    font-size: 17px;
    line-height: 2rem;
    color: black;
    text-align: center;
    width: 60%; }
  .slogan a {
    height: auto;
    margin-top: 4rem;
    background-color: #49474A;
    color: white;
    padding: 15px;
    border-radius: 15px; }

.titulo_ppal {
  font-family: 'Oswald', sans-serif;
  font-size: 40px;
  color: #8B857E;
  font-weight: 600;
  padding: 0 15px;
  margin-bottom: 2rem; }

.boton {
  text-align: center;
  display: flex;
  justify-content: center; }

.transform-2 {
  transition: all 0.5s ease; }

.transform-2:hover {
  cursor: pointer;
  color: #49474A;
  background-color: white;
  transform: scale(1.1);
  border: 1px solid #49474A; }

.introduccion {
  display: inline;
  background-color: #000000;
  color: #8B857E;
  text-align: center;
  display: grid;
  grid-template-columns: repeat(4, 1fr); }
  .introduccion img {
    width: 30%; }
  .introduccion div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    padding: 6rem 2rem;
    font-size: 18px; }
    .introduccion div p {
      margin-bottom: 0; }

.transform-1 {
  transition: 0.5s; }

.transform-1:hover p {
  transform: scale(1.5);
  color: white; }

.caracteristicas-subt {
  font-size: 35px;
  color: #8B857E;
  font-family: 'Oswald', sans-serif;
  font-weight: 400;
  padding: 8rem 0;
  text-align: center; }

.caracteristicas {
  display: grid;
  grid-auto-rows: 400px;
  grid-template-columns: repeat(2, 1fr);
  justify-items: center; }
  .caracteristicas h3 {
    color: #000000;
    font-size: 22px;
    font-weight: bold; }

.img-grid {
  width: 400px;
  box-shadow: 0px 2px 10px #49474A;
  border-radius: 15px; }

.boton2 {
  margin-top: 2rem; }
  .boton2 a {
    background-color: #49474A;
    color: white;
    padding: 10px;
    border-radius: 15px; }

.animacion-1:hover {
  animation-name: caract-1;
  animation-duration: 1s;
  animation-timing-function: cubic-bezier(0.39, 0.575, 0.565, 1) both; }

@keyframes caract-1 {
  0% {
    transform: translateY(-50px);
    opacity: 0; }
  100% {
    transform: translateY(0);
    opacity: 1; } }

.seccionFinal {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  background-color: black;
  text-align: center;
  padding: 3rem 0;
  column-gap: 3rem;
  justify-content: center;
  align-items: center; }
  .seccionFinal p {
    color: #8B857E;
    margin: 3rem 0 1rem;
    font-size: 20px;
    font-weight: 600; }
  .seccionFinal a {
    color: #ffffff;
    font-size: 50px; }
  .seccionFinal__subtitulo {
    grid-column: 1/3;
    text-align: center;
    padding-bottom: 1rem; }
    .seccionFinal__subtitulo a {
      display: inline;
      font-family: 'Oswald', sans-serif;
      font-weight: 400;
      font-size: 35px;
      color: #ffffff; }
    .seccionFinal__subtitulo a::before {
      content: "»    ";
      font-size: 60px; }
    .seccionFinal__subtitulo a::after {
      content: "    «";
      font-size: 60px; }

.logos {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 2rem; }

.animacion-2 {
  animation: final 0.5s ease-in-out infinite both; }

@keyframes final {
  0% {
    transform: scale(1); }
  50% {
    transform: scale(0.9); }
  100% {
    transform: scale(1); } }

.contactoContenido {
  background-color: black; }
  .contactoContenido form {
    align-items: center;
    justify-content: center; }
    .contactoContenido form h2 {
      font-size: 25px;
      text-align: center;
      color: #8B857E;
      margin-bottom: 3rem; }
    .contactoContenido form input {
      background-color: #E6E3DF;
      width: 100%;
      height: 30px;
      border-radius: 5px;
      border: none;
      margin-bottom: 30px; }
    .contactoContenido form div {
      width: 100%;
      text-align: center; }
  .contactoContenido label {
    font-size: 18px;
    text-align: center;
    color: white; }
  .contactoContenido textarea {
    background-color: #E6E3DF;
    width: 100%;
    height: 200px;
    border-radius: 5px;
    border: none;
    margin-bottom: 1rem;
    resize: none; }
  .contactoContenido .enviar {
    background-color: #E6E3DF;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    width: 100px;
    height: 30px;
    font-size: 16px;
    border-radius: 5px;
    border: none; }
  .contactoContenido div h2 {
    font-size: 25px;
    color: #8B857E; }
  .contactoContenido div p {
    line-height: 2rem;
    margin-bottom: 3rem;
    color: white;
    font-size: 18px; }
    .contactoContenido div p span {
      font-size: 22px;
      color: #8B857E; }
  .contactoContenido div a {
    font-size: 22px;
    color: #8B857E; }

.animacion-3 {
  animation: contacto ease both;
  animation-duration: 0.5s;
  animation-delay: 0s;
  animation-iteration-count: 1; }

@keyframes contacto {
  0% {
    transform: translateX(-50%); }
  100% {
    transform: translateX(0); } }

.animacion-4 {
  animation: mascontacto ease both;
  animation-duration: 0.5s;
  animation-delay: 0s;
  animation-iteration-count: 1; }

@keyframes mascontacto {
  0% {
    transform: translateX(50%); }
  100% {
    transform: translateX(0); } }

.masPreguntas {
  text-align: center;
  font-size: 30px;
  color: #8B857E;
  font-weight: 400;
  margin: 5rem 0 8rem;
  font-family: 'Oswald', sans-serif; }
  .masPreguntas span {
    color: #8b857e;
    font-weight: 700;
    font-family: 'Oswald', sans-serif; }

.fondo_boton {
  background-color: #e6e3df;
  font-size: 18px;
  border-radius: 10px; }

.transform-4 {
  transition: all 0.5s ease; }

.transform-4:hover {
  cursor: pointer;
  transform: scale(1.2); }

.subtitulo {
  color: white;
  background-color: black;
  font-size: 25px;
  padding: 15px 0; }

.titulo--instalacion {
  margin-bottom: 6rem;
  text-align: center;
  font-family: 'Oswald', sans-serif;
  font-size: 40px;
  color: #8B857E;
  font-weight: 600; }

.composicion {
  display: grid;
  grid-auto-rows: 400px;
  grid-template-columns: repeat(2, 1fr);
  justify-items: center; }
  .composicion h3 {
    color: #000000;
    font-size: 22px;
    font-weight: bold; }

.instalacion {
  display: grid;
  grid-auto-rows: 500px;
  grid-template-columns: repeat(2, 1fr);
  justify-items: center; }
  .instalacion h3 {
    color: #000000;
    font-size: 22px;
    font-weight: bold; }

.agrupadas {
  display: flex;
  gap: 10px; }

.img-producto {
  width: 400px;
  max-height: 250px;
  box-shadow: 0px 2px 10px #49474A;
  border-radius: 15px;
  object-fit: cover; }

.img-producto2 {
  width: 200px;
  max-height: 400px;
  box-shadow: 0px 2px 10px #49474A;
  border-radius: 15px;
  object-fit: cover;
  object-position: center; }

.img-galeria {
  box-shadow: 0px 2px 10px #49474A;
  border-radius: 15px; }

.transform-3 img {
  transition: 0.5s ease; }

.transform-3:hover img {
  opacity: 0.5; }

@media screen and (max-width: 825px) {
  .whatsapp {
    font-size: 20px;
    bottom: 2px;
    right: 2px; }
  /* HOME */
  .carrusel {
    margin-top: 5.5rem; }
  .display-2 {
    font-size: 40px; }
  .display-5 {
    font-size: 25px; }
  .slogan p {
    width: 90%; }
  .introduccion {
    grid-template-columns: repeat(2, 1fr); }
  .introduccion div {
    border: 1px solid #8B857E;
    padding: 2rem;
    gap: 1rem;
    font-size: 12px; }
  .introduccion img {
    width: 20%; }
  .caracteristicas {
    grid-auto-rows: auto;
    grid-template-columns: 1fr; }
  .img-grid {
    width: 300px; }
  .texto-grid {
    text-align: center;
    margin: 2rem 0 3rem;
    padding: 0 10px; }
  .seccionFinal {
    padding: 5rem 2rem; }
  .seccionFinal .seccionFinal__subtitulo a {
    font-size: 25px; }
  .seccionFinal a {
    padding: 0; }
  /* NUESTRO PRODUCTO */
  .composicion {
    grid-auto-rows: auto;
    grid-template-columns: 1fr; }
  .img-producto {
    width: 300px; }
  .instalacion {
    grid-auto-rows: auto;
    grid-template-columns: 1fr; }
  .img-producto2 {
    width: 145px;
    max-height: 250px; }
  .titulo--instalacion {
    margin-top: 3rem; }
  /* CONTACTOS */
  .contactoContenido {
    gap: 3rem; } }

@media screen and (max-width: 425px) {
  /* HOME */
  .display-2 {
    font-size: 15px; }
  .display-5 {
    font-size: 10px; }
  .carousel-indicators {
    display: none; }
  .slogan {
    padding: 5rem 0; }
  .introduccion {
    grid-template-columns: 1fr; }
  .titulo_sec {
    font-size: 24px; }
  .introduccion div {
    border: 1px solid #8B857E;
    padding: 1rem; }
  .seccionFinal {
    grid-template-columns: 1fr;
    padding: 3re 1rem; }
  .seccionFinal__subtitulo {
    grid-column: 1/-1; }
  .seccionFinal .seccionFinal__subtitulo a {
    font-size: 25px; }
  .seccionFinal__subtitulo a::before {
    display: none; }
  .seccionFinal__subtitulo a::after {
    display: none; }
  /* CONTACTO */
  .masContactos {
    text-align: center; } }
