
.texto-carrusel{
    display: flex;
    flex-direction: column;
}

.slogan{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 8rem 0;

    p{
        font-size: 17px;
        line-height: 2rem;
        color: black;
        text-align: center;
        width: 60%;
    }

    a{
        height: auto;
        margin-top: 4rem;
        background-color: #49474A;
        color: white;
        padding: 15px;
        border-radius: 15px; 
    }
}

.titulo_ppal{
    font-family: 'Oswald', sans-serif;
    font-size: 40px;
    color: $color;
    font-weight: 600; 
    padding: 0 15px; 
    margin-bottom: 2rem;
}

.boton {
    text-align: center;
    display: flex;
    justify-content: center;
}

.transform-2 {
    transition: all 0.5s ease;
}
.transform-2:hover {
    cursor: pointer;
    color: #49474A;
    background-color: white;
    transform: scale(1.1);
    border: 1px solid #49474A;
}




