.contactoContenido{
    background-color: black;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;

    form{
        width: 80%;
        padding: 20px;
        margin-top: 3rem;
        align-items: center;
        justify-content: center;
        h2{
            font-size: $fontmedia;
            text-align: center;
            color: $color;
            margin-bottom: 3rem;
        }
        input{
            background-color: $bgcontacto;
            width: 100%;
            height: 30px;
            border-radius: 5px;
            border: none;
            margin-bottom: 30px;
        }
        div{
            width: 100%;
            text-align: center;
        }
    }

    label{
        font-size: $fontbase+2;
        text-align: center;
        color: white;
    }
    textarea{
        background-color: $bgcontacto;
        width: 100%;
        height: 200px;
        border-radius: 5px;
        border: none;
        margin-bottom: 1rem;
        resize: none;
    }
    .enviar{
        background-color: $bgcontacto;
        font-family: 'Poppins', sans-serif;
        font-weight: 600;
        width: 100px;
        height: 30px;
        border-radius: 5px;
        border: none;
    }
    
    .masContactos{
        padding: 20px;
        margin-top: 3rem;
        h2{
            font-size: $fontmedia;
            color: $color;

        }
        p{
            line-height: 2rem;
            margin-bottom: 3rem;
            color: white;
            font-size:$fontbase+2;
            padding-right: 20px;

            span{
                font-size: $fontmedia - 3;
                color: $color;
            }
        }
        a{
            font-size: $fontmedia - 3;
            color: $color;
        }
    }
}

.animacion-3{
    animation: contacto ease both;
    animation-duration: 0.5s;
    animation-delay: 0s;
    animation-iteration-count: 1;
}
@keyframes contacto {
    0% {
        transform: translateX(-50%);  
    }
    100%{
        transform: translateX(0);
    }
}

.animacion-4{
    animation: mascontacto ease both;
    animation-duration: 0.5s;
    animation-delay: 0s;
    animation-iteration-count: 1;
}
@keyframes mascontacto {
    0% {
        transform: translateX(50%);  
    }
    100%{
        transform: translateX(0);
    }
}



