*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Poppins400';
    max-width: 100%;
    overflow-x: hidden;
    font-size: $fontbase;
}

a{
    text-decoration: none;
    color: black;
}

ul {
    list-style: none;
    padding: 0;
}

.header{
    box-shadow: $boxshadow;
}

.whatsapp{     
    position: fixed; 
    z-index: 11;
    bottom: 10px;
    right: 10px;
    font-size: 50px;
    color: $bshadow;
    padding: 10px;
    border-radius: 5px;
    display: inline-block;
}

@mixin titulos($margin) {
    margin: $margin; 
    text-align: center;
    font-family: 'Oswald600';
    font-size: $fontlarge;
    color: $color;
}

.titulo{
    @include titulos(11rem 0 6rem);
}

.estiloh3{
    font-size: $fontmedia - 3;
    font-family: 'Poppins600';
}

.estiloTituloSec {
    color: $color;
    font-family: 'Oswald400';
    text-align: center;    
}

$iconosInicio: (
    facebook: #385599,
    instagram: #AD2DA2,
    whatsapp: #0DC143,
    mail: #EC8F5C,
    contacto: #59B5E8,
);

@each $name, $colores in $iconosInicio {
    .btn-#{$name} {
        color: $colores;
        font-size:$fontlarge+10;
    }
}

$estilos:(
    centro: center,
    15px: 15px,
);






