.introduccion{
    display: inline;
    background-color: #000000;
    color: $color;
    text-align: map-get($estilos, centro);
    display: grid;
    grid-template-columns: repeat(4, 1fr);

    img{
        width: 30%;
    }

    div{
        display: flex;
        flex-direction: column;
        justify-content: map-get($estilos, centro);
        align-items: map-get($estilos, centro);
        gap: 2rem;
        padding: 6rem 2rem;
        font-size: $fontbase+2;

        p{
            margin-bottom: 0;
        }
    }
}
.transform-1 {
    transition: 0.5s;
    &:hover p{
        transform: scale(1.5);
        color: white;
    }
}
