
.texto-carrusel{
    display: flex;
    flex-direction: column;
}
.carousel-caption{
    right: 5%;
    left: 5%;
    .display-3{
        font-size: 50px;
    }
    .display-6{
        font-size: 45px;
    }
}


.slogan{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: map-get($estilos, centro);
    align-items: map-get($estilos, centro);
    text-align: map-get($estilos, centro);
    padding: 8rem 0;

    p{
        font-size: $fontbase+1;
        line-height: 2rem;
        color: black;
        text-align: map-get($estilos, centro);
        width: 60%;
    }

    a{
        height: auto;
        margin-top: 4rem;
        background-color: $bshadow;
        color: white;
        padding: map-get($estilos, 15px);
        border-radius: map-get($estilos, 15px); 
    }
}

.titulo_ppal{
    @include titulos(0 0 2rem);
    padding: 0 15px; 
}

.boton {
    text-align: map-get($estilos, centro);
    display: flex;
    justify-content: map-get($estilos, centro);
}

.transform-2 {
    transition: all 0.5s ease;
    &:hover {
        cursor: pointer;
        color: $bshadow;
        background-color: white;
        transform: scale(1.1);
        border: 1px solid $bshadow;
    }
}





