.caracteristicas-subt{
    @extend .estiloTituloSec;
    font-size: $fontlarge - 5;
    padding: 8rem 0;
}

.caracteristicas{
    display: grid;
    grid-auto-rows: 400px;
    grid-template-columns: repeat(2, 1fr);
    justify-items: map-get($estilos, centro);
    h3{
        @extend .estiloh3;
    }
    .img-grid{
        width: 400px;
        box-shadow: $boxshadow;
        border-radius: map-get($estilos, 15px);
    }
}


.boton2{
    margin-top: 2rem;
    a{
        background-color: $bshadow;
        color: white;
        padding: 10px;
        border-radius: map-get($estilos, 15px);
    }
}
.animacion-1:hover{
    animation-name: caract-1;
    animation-duration: 1s; 
    animation-timing-function: cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}
@keyframes caract-1{
    0% {
        transform: translateY(-50px);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

