.masPreguntas{
    @extend .estiloTituloSec;
    font-size: $fontmedia+5;
    margin: 5rem 0 8rem;
    

    span{
        color: rgb(139, 133, 126);
        font-weight: 700;
        font-family: 'Oswald', sans-serif;
    }
}

.fondo_boton{
    background-color: #e6e3df;
    font-size: $fontbase+2;
    border-radius: 10px;
}

.transform-4 {
    transition: all 0.5s ease;
    &:hover {
        cursor: pointer;
        transform: scale(1.2);
    }
}
