.contenedor-tituloProd {
    border-radius: 15px;
    box-shadow: 0 20px 30px rgba(0, 0, 0, 0.2);
    .tituloProducto {
        @extend .estiloTituloSec;
        font-size: $fontlarge - 5;
        padding-bottom: 20px;
        margin-bottom: 6rem;
    }
}


.composicion{
    display: grid;
    grid-auto-rows: 400px; 
    grid-template-columns: repeat(2, 1fr);
    justify-items: map-get($estilos, centro);
    h3{
        @extend .estiloh3;
    }
    .img-producto{
        width: 400px;
        max-height: 250px;
        box-shadow: $boxshadow;
        border-radius: map-get($estilos, 15px);
        object-fit: cover;
    }
}

.instalacion{
    display: grid;
    grid-auto-rows: 500px; 
    grid-template-columns: repeat(2, 1fr);
    justify-items: map-get($estilos, centro);
    h3{
        @extend .estiloh3;
    }
    .agrupadas{
        display: flex;
        gap: 10px;
    }
    
    .img-producto2{
        width: 200px;
        max-height: 400px;
        box-shadow: $boxshadow;
        border-radius: map-get($estilos, 15px);
        object-fit: cover;
        object-position: map-get($estilos, centro);
    }
}


