@font-face {
    font-family: 'Oswald400';
    src: url('/fonts/Oswald-Regular.ttf');
}

@font-face {
    font-family: 'Oswald600';
    src: url('/fonts/Oswald-SemiBold.ttf');
}

@font-face {
    font-family: 'Poppins200';
    src: url('/fonts/Poppins-ExtraLight.ttf');    
}

@font-face {
    font-family: 'Poppins400';
    src: url('/fonts/Poppins-Regular.ttf');
}

@font-face {
    font-family: 'Poppins600';
    src: url('/fonts/Poppins-SemiBold.ttf');
}